body{
  background-image: linear-gradient(#a580bf, #dcbbe6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; 
  margin: 0; 
}

.introduction{
  font-family: "Special Gothic", sans-serif;
  font-weight: 500;
  font-kerning: 2px;
  text-align: center;
  font-size: 30px;
  color: #fff; 
}

#jokeText {
  font-family: "Special Gothic", sans-serif;
  text-align: center;
  font-size: 30px; 
  font-weight: 800;
  color: #ffffff;
  border: 5px solid #fff;
  background-color: #a580bf;
  display: inline-block;
  padding: 25px;
  margin: 0px auto;
}

#shareText{
  font-family: "Special Gothic", sans-serif;
  text-align: center;
  font-size: 20px; 
  font-weight: 800;
  color: #ffffff;
  text-decoration: underline;
}

.socials {
  display: flex;
  position: fixed;
  bottom: 0;;
  left: 0;
  right: 0;
  gap: 15px; 
  justify-content: center;
  align-items: center; 
  font-family: "Special Gothic", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  text-decoration: underline;
}

#socialLink{
  color: #000000;
}

hr{
  display: flex;
  color:#fff;
  margin: 0px auto;
  width: 80%;
  margin-bottom: 0px;
}